.u-section-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-1 .u-image-1 {
  width: 474px;
  height: 550px;
  margin: 140px 33px 0 auto;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: -485px 715px 0 33px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 33px 614px 0 33px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 20px 570px 60px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 155px;
    margin-right: -27px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -521px;
    margin-right: 470px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 447px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 33px;
    margin-right: 370px;
    margin-bottom: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 562px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -936px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 692px;
  }

  .u-section-1 .u-text-1 {
    width: 359px;
    margin-top: -1054px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 17px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-image-1 {
    height: 395px;
    margin-top: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -655px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.6875rem;
    margin-top: 17px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 22px;
  }
}