.u-section-1 .u-sheet-1 {
  min-height: 715px;
}

.u-section-1 .u-gallery-1 {
  height: 500px;
  width: 500px;
  margin: 167px auto 0 48px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 13px;
}

.u-section-1 .u-gallery-2 {
  height: 500px;
  width: 500px;
  margin: -500px 48px 48px auto;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-gallery-1 {
    height: 400px;
    width: 400px;
    margin-left: 25px;
  }

  .u-section-1 .u-gallery-2 {
    height: 400px;
    width: 400px;
    margin-top: -400px;
    margin-right: 25px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 141px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-2 {
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-2 {
    margin-top: 20px;
    margin-bottom: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-gallery-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-2 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  min-height: 243px;
}

.u-section-2 .u-gallery-1 {
  height: 500px;
  width: 1040px;
  margin: 60px auto 30px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 525px;
  }

  .u-section-2 .u-gallery-1 {
    height: 460px;
    width: 940px;
    margin-top: 33px;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 360px;
  }

  .u-section-2 .u-gallery-1 {
    height: 295px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 317px;
  }

  .u-section-2 .u-gallery-1 {
    height: 274px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    height: 213px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-3 .u-image-1 {
  width: 700px;
  height: 495px;
  animation-duration: 1000ms;
  margin: 35px auto 0;
}

.u-section-3 .u-image-2 {
  width: 700px;
  height: 496px;
  animation-duration: 1000ms;
  margin: 35px auto 23px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 382px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 241px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 241px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-image-1 {
  width: 700px;
  height: 265px;
  animation-duration: 1000ms;
  margin: 33px auto 0;
}

.u-section-4 .u-image-2 {
  width: 700px;
  height: 223px;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-4 .u-image-3 {
  width: 700px;
  height: 223px;
  animation-duration: 1000ms;
  margin: 30px auto 38px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 204px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 172px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 172px;
    margin-bottom: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 128px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 108px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 108px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 682px;
}

.u-section-5 .u-image-1 {
  width: 365px;
  height: 332px;
  animation-duration: 1000ms;
  margin: 36px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 365px;
  height: 611px;
  animation-duration: 1000ms;
  margin: -471px auto 0;
}

.u-section-5 .u-image-3 {
  width: 365px;
  height: 321px;
  animation-duration: 1000ms;
  margin: -466px 0 42px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 272px;
  }

  .u-section-5 .u-image-2 {
    width: 300px;
    height: 502px;
    margin-top: -387px;
  }

  .u-section-5 .u-image-3 {
    width: 300px;
    height: 263px;
    margin-top: -382px;
    margin-bottom: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-5 .u-image-2 {
    width: 360px;
    height: 602px;
    margin-top: -272px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin: -263px auto 36px 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-5 .u-image-1 {
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: initial;
  }

  .u-section-5 .u-image-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-2 {
    width: 340px;
    height: 569px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 457px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 28px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-video-1 {
  animation-duration: 1000ms;
}

.u-section-6 .u-image-1 {
  min-height: 451px;
  background-image: url("images/LeachVC.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-6 .u-image-1 {
    min-height: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-6 .u-image-1 {
    min-height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 428px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-6 .u-image-1 {
    min-height: 269px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 792px;
}

.u-section-7 .u-image-1 {
  width: 555px;
  height: 732px;
  animation-duration: 1000ms;
  margin: 30px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 555px;
  height: 555px;
  animation-duration: 1000ms;
  margin: -631px 0 107px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-7 .u-image-1 {
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 712px;
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 448px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 840px;
}

.u-section-8 .u-image-1 {
  width: 555px;
  height: 555px;
  animation-duration: 1000ms;
  margin: 143px auto 0 0;
}

.u-section-8 .u-image-2 {
  width: 555px;
  height: 758px;
  animation-duration: 1000ms;
  margin: -667px 0 -81px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-8 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 738px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 465px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 795px;
}

.u-section-9 .u-image-1 {
  width: 555px;
  height: 717px;
  animation-duration: 1000ms;
  margin: 31px auto 0 0;
}

.u-section-9 .u-image-2 {
  width: 555px;
  height: 717px;
  animation-duration: 1000ms;
  margin: -717px 0 47px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-9 .u-image-2 {
    margin-top: 31px;
    margin-right: auto;
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-2 {
    margin-top: 20px;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1498px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 698px;
  }

  .u-section-9 .u-image-2 {
    width: 540px;
    height: 698px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 439px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 439px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 620px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 590px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-10 .u-image-1 {
  width: 375px;
  animation-duration: 1000ms;
  left: auto;
  right: 72px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 590px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-bottom: 26px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-10 .u-image-1 {
    left: -2px;
    right: auto;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 589px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 429px;
    margin: 43px auto 24px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    width: 394px;
    height: 517px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto -25px 7px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 701px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-10 .u-image-1 {
    width: 320px;
    height: 419px;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 555px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 772px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 55px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 728px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 20px 20px 11px;
}

.u-section-11 .u-video-1 {
  width: 549px;
  left: auto;
  right: -15px;
  animation-duration: 1000ms;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 728px;
}

.u-section-11 .u-container-layout-2 {
  padding: 0 20px 20px;
}

.u-section-11 .u-image-1 {
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-11 .u-video-1 {
    width: 414px;
    right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-11 .u-video-1 {
    width: 304px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 469px;
    margin: 34px auto 60px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 476px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-11 .u-video-1 {
    width: 460px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 707px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-1 {
    left: auto;
    right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-bottom: 40px;
    width: 340px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-11 .u-video-1 {
    width: 340px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 513px;
  }
}